{% extends 'base/base.html' %}
{% load static %}
{% block styles_tags %}
    <style>
        .featuring-events {
            background-image: url("{% static 'images/eigsi_bg.png' %}");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        .carousel-track {
            transition: transform 0.5s ease;
        }

        .carousel-slide {
            flex: 0 0 100%;
            width: 100%;
            margin: 0;
            padding: 0;
        }

        .carousel-slide img {
            width: 100%;
            height: auto;
            max-width: 100%;
            max-height: 100%;
        }

        .carousel-btn {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            color: white;
            border: none;
            margin: 0;
            padding: 0 50px;
            height: 100%;
            cursor: pointer;
            z-index: 10;
        }

        #pauseBtn {
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
            background: rgba(0, 0, 0, 0.5);
            color: white;
            border: none;
            padding: 10px;
            cursor: pointer;
            z-index: 10;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="w-full">
        <div class="featuring-events">
            <div class="flex items-center justify-center p-5 md:py-10">
                <div class="carousel-container rounded-md relative 2xl:max-w-[1200px] xl:max-w-[960px] lg:max-w-[720px] md:max-w-[540px] sm:max-w-[360px] overflow-hidden">
                    <div class="carousel-track flex w-full">
                        {% for event in events %}
                            <div class="carousel-slide w-full">
                                <a href="{% url 'base:event_detail' event.id %}">
                                    <img src="{{ event.poster.url }}" alt="{{ event.title }}"/>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    {# TODO: hide buttons if there is only one slide #}
                    <button id="prevBtn"
                            class="absolute flex items-center justify-center top-1/2 left-5 transform -translate-y-1/2 rounded-full p-1 md:p-2 border-none m-0 cursor-pointer z-10 bg-[#fbfee7] active:bg-[#c3e536] md:hover:bg-[#c3e536] opacity-50">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                             stroke="#4d6113" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="">
                            <path d="m15 18-6-6 6-6"/>
                        </svg>
                    </button>
                    <button id="nextBtn"
                            class="absolute flex items-center justify-center top-1/2 right-5 transform -translate-y-1/2 rounded-full p-1 md:p-2 border-none m-0 cursor-pointer z-10 bg-[#fbfee7] active:bg-[#c3e536] md:hover:bg-[#c3e536] opacity-50">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                             stroke="#222e05" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="hover:opacity-100">
                            <path d="m9 18 6-6-6-6"/>
                        </svg>
                    </button>
                    {# <button id="pauseBtn">Pause</button> #}
                </div>
            </div>
        </div>
        <div class="p-12 sm:p-20">
            <div class="flex flex-col items-start mb-8 md:mb-10">
                <div class="flex flex-row flex-nowrap justify-between items-center w-full mb-6">
                    <div class="inline-block text-lg sm:text-xl font-extrabold text-[#222e05] tracking-tight">
                        Prochainement
                    </div>
                    <div class="text-base font-medium text-[#415215]">voir tout</div>
                </div>
                <ul class="grid w-full gap-4 md:gap-6 sm:grid-cols-2 lg:grid-cols-3">
                    {% for event in events %}
                        <li>
                            {% include 'components/event_card.html' with event=event %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="flex flex-col items-start mb-8 md:mb-10">
                <div class="flex flex-row flex-nowrap justify-between items-center w-full mb-6">
                    <div class="inline-block text-base sm:text-xl font-extrabold text-[#222e05] tracking-tight">
                        (Re)Vivez les évènements passés
                    </div>
                    <div class="text-base font-medium text-[#415215]">voir plus</div>
                </div>
                {#        <ul class="grid w-full gap-4 md:gap-6 sm:grid-cols-2">#}
                {#          {% for event in events %}#}
                {#            <li>#}
                {#              {% include 'components/passed_event_card.html' with event=event %}#}
                {#            </li>#}
                {#          {% endfor %}#}
                {#        </ul>#}
            </div>
        </div>
    </div>
{% endblock %}
{% block script_tags %}
    <script src="{% static 'js/src/carrousel.js' %}" defer></script>
{% endblock %}
