<div id="statsTab" class="hidden w-full h-full">
    <div class="h-full w-full flex flex-row justify-center items-center">
        <div class="flex flex-col gap-3 items-center h-fit">
            <svg xmlns="http://www.w3.org/2000/svg" width="86" height="86" viewBox="0 0 24 24"
                 fill="none" stroke="#eaf89e" stroke-width="2" stroke-linecap="round"
                 stroke-linejoin="round" class="lucide lucide-chart-pie">
                <path d="M21 12c.552 0 1.005-.449.95-.998a10 10 0 0 0-8.953-8.951c-.55-.055-.998.398-.998.95v8a1 1 0 0 0 1 1z"/>
                <path d="M21.21 15.89A10 10 0 1 1 8 2.83"/>
            </svg>
            <div class="text-md text-gray-600">Aucune statistique disponible pour le moment</div>
        </div>
    </div>
</div>