{#{% extends 'base/base.html' %}#}
{% load static tailwind_tags %}
{% load socialaccount %}
    {% tailwind_css %}
{#{% block content %}#}
    <div class="flex items-center justify-center h-full w-full">
        <div class="flex flex-col items-center justify-center h-auto overflow-hidden rounded-2xl bg-white shadow-2xl max-w-md">
            <div class=" pt-0 sm:pt-0 flex flex-col">
                <div class="text-xl md:text-2xl text-center tracking-tight font-bold text-color font-display">Connexion</div>
                <div class="border-b flex flex-row w-full">
                    {% comment %} <div class="flex-1 text-center py-1">Eigsi</div>
                    <div class="flex-1 text-center py-1">Invité</div> {% endcomment %}
                </div>
                <div class="text-sm text-center text-gray-600">Utilisez votre compte @eigsica pour continuer</div>
                <form action="{% provider_login_url 'google' %}" method="get">
                    <button class="px-6 py-3 rounded-full form-control border active:border-[#a1c617] hover:border-[#a1c617] w-full flex items-center active:scale-95 duration-100 will-change justify-center space-x-2">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                            <path d="M22.56 12.25c0-.78-.07-1.53-.2-2.25H12v4.26h5.92c-.26 1.37-1.04 2.53-2.21 3.31v2.77h3.57c2.08-1.92 3.28-4.74 3.28-8.09z"
                                  fill="#4285F4"></path>
                            <path d="M12 23c2.97 0 5.46-.98 7.28-2.66l-3.57-2.77c-.98.66-2.23 1.06-3.71 1.06-2.86 0-5.29-1.93-6.16-4.53H2.18v2.84C3.99 20.53 7.7 23 12 23z"
                                  fill="#34A853"></path>
                            <path d="M5.84 14.09c-.22-.66-.35-1.36-.35-2.09s.13-1.43.35-2.09V7.07H2.18C1.43 8.55 1 10.22 1 12s.43 3.45 1.18 4.93l2.85-2.22.81-.62z"
                                  fill="#FBBC05"></path>
                            <path d="M12 5.38c1.62 0 3.06.56 4.21 1.64l3.15-3.15C17.45 2.09 14.97 1 12 1 7.7 1 3.99 3.47 2.18 7.07l3.66 2.84c.87-2.6 3.3-4.53 6.16-4.53z"
                                  fill="#EA4335"></path>
                            <path d="M1 1h22v22H1z" fill="none"></path>
                        </svg>
                        <span>Se connecter avec Google</span>
                    </button>
                </form>
                {% comment %} <div> {% endcomment %}
                    {#                <div class="flex space-x-4 items-center my-6">#}
                    {#                    <hr class="border border-color-subtle flex-grow">#}
                    {#                    <div class="text-color-muted uppercase text-xs">ou</div>#}
                    {#                    <hr class="border border-color-subtle flex-grow">#}
                    {#                </div>#}
                    {#                <form class="space-y-6">#}
                    {#                    <input class="form-control focus:border-[#222e05] border px-6 py-3 w-full rounded-full"#}
                    {#                           type="email" placeholder="Entrer votre adresse mail (eigsica)" autocomplete="email">#}
                    {#                     <input class="form-control focus:border-[#222e05] border px-6 py-3 w-full rounded-full"#}
                    {#                           type="email" placeholder="Entrer votre adresse mail (eigsica)" autocomplete="email">#}
                    {#                    <button type="submit"#}
                    {#                            class="px-6 py-3 rounded-full bg-[#222e05] active:scale-95 duration-100 will-change text-white w-full cursor-pointer">#}
                    {#                        <span>Continuer</span>#}
                    {#                    </button>#}
                    {#                </form>#}
                {% comment %} </div> {% endcomment %}
            </div>
        </div>
    </div>
{#{% endblock %}#}