{% extends 'base.html' %}
{% block content %}
<div class="p-10">
   <div class="py-6">
      <div class="flex flex-col items-center">
         <div class="inline-block text-2xl sm:text-3xl font-extrabold text-[#222e05] tracking-tight">Rechercher des évènements</div>
         <p class="mt-2 text-center text-lg text-[#415215]">Trouver des évènements organisés au sein de l'école. Utilisez les filtres pour des résultats plus précis.</p>
      </div>
      <label
         class="mx-auto mt-10 relative bg-white min-w-sm max-w-2xl flex flex-row items-center justify-center border py-2 px-2 rounded-2xl gap-2 focus-within:border-gray-300"
         for="search-bar">
         <input id="search-bar" type="search" placeholder="taper votre recherche..."
            class="search-bar px-6 py-2 w-full rounded-md flex-1 bg-white">
         <button
            class="w-auto px-6 py-3 bg-[#222e05] text-[#fbfee7] border-[#222e05] fill-white active:scale-95 duration-100 border will-change-transform overflow-hidden relative rounded-xl transition-all disabled:opacity-70">
            <div class="relative">
               <div
                  class="flex items-center justify-center h-3 w-3 absolute inset-1/2 -translate-x-1/2 -translate-y-1/2 transition-all">
                  <svg class="opacity-0 animate-spin w-full h-full" xmlns="http://www.w3.org/2000/svg" fill="none"
                     viewBox="0 0 24 24">
                     <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor"
                        stroke-width="4"></circle>
                     <path class="opacity-75" fill="currentColor"
                        d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                     </path>
                  </svg>
               </div>
               <div class="flex items-center transition-all opacity-1 valid:"><span
                  class="text-sm font-semibold whitespace-nowrap truncate mx-auto">
                  Trouver
                  </span>
               </div>
            </div>
         </button>
      </label>
   </div>
   <div class="w-full lg:p-10 lg:flex lg:flex-row">
      <div class="min-w-[230px] hidden lg:flex lg:flex-col mr-3">
         <div class="mb-1">
            <div class="block text-base sm:text-xl font-extrabold text-[#222e05] tracking-tight">Filtres</div>
         </div>
         <div class="">
            <ul class="flex flex-col">
               <li class="block m-0">
                  <div class="text-sm">Évènement</div>
                  <div class="pt-1">
                     <ul class="w-full grid grid-cols-1">
                        {% for type in event_type %}
                        <li class="mb-1">
                           {% include 'components/tag.html' with tag_type='conference' tag_label=type %}
                        </li>
                        {% endfor %}
                     </ul>
                  </div>
               </li>
               <li class="block mt-3">
                  <div class="text-sm">Accessibilité</div>
                  <div class="pt-1">
                     <ul class="w-full grid grid-cols-2">
                        <li class="mb-1">
                           {% include 'components/tag.html' with tag_type='conference' tag_label='Public' %}
                           {% include 'components/tag.html' with tag_type='conference' tag_label='Privé' %}
                        </li>
                     </ul>
                  </div>
               </li>
               <li class="block mt-3">
                  <div class="block text-sm">Année</div>
                  <div class="pt-1">
                     <div x-data="{ open: false, selected: {{ years|first }} }" class="relative">
                        <button @click="open=!open" class="flex h-9 items-center justify-between whitespace-nowrap rounded-md border border-input bg-transparent px-3 py-2 text-xs shadow-sm ring-offset-background placeholder:text-muted-foreground  focus:ring-ring disabled:cursor-not-allowed disabled:opacity-50 [&>span]:line-clamp-1 w-2/3">
                           <span x-text="selected"></span>
                           <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M4.93179 5.43179C4.75605 5.60753 4.75605 5.89245 4.93179 6.06819C5.10753 6.24392 5.39245 6.24392 5.56819 6.06819L7.49999 4.13638L9.43179 6.06819C9.60753 6.24392 9.89245 6.24392 10.0682 6.06819C10.2439 5.89245 10.2439 5.60753 10.0682 5.43179L7.81819 3.18179C7.73379 3.0974 7.61933 3.04999 7.49999 3.04999C7.38064 3.04999 7.26618 3.0974 7.18179 3.18179L4.93179 5.43179ZM10.0682 9.56819C10.2439 9.39245 10.2439 9.10753 10.0682 8.93179C9.89245 8.75606 9.60753 8.75606 9.43179 8.93179L7.49999 10.8636L5.56819 8.93179C5.39245 8.75606 5.10753 8.75606 4.93179 8.93179C4.75605 9.10753 4.75605 9.39245 4.93179 9.56819L7.18179 11.8182C7.35753 11.9939 7.64245 11.9939 7.81819 11.8182L10.0682 9.56819Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path>
                           </svg>
                        </button>
                        <ul x-show="open" @click.away="open = false" class="absolute mt-2 p-2 w-2/3 bg-white border border-gray-300 rounded shadow-lg max-h-60 overflow-y-auto z-10">
                           {% for year in years %}
                           <li @click="selected = '{{ year }}'; open = false" class="rounded cursor-pointer py-2 px-4 text-xs text-[#222e05] hover:bg-[#eaf89e]">
                              {{ year }}
                           </li>
                           {% endfor %}
                        </ul>
                     </div>
                  </div>
               </li>
            </ul>
         </div>
      </div>
      <div class="p-5 m-0 lg:p-0 flex flex-col gap-8 justify-between items-center">
         <ul class="grid w-full gap-4 md:gap-6 sm:grid-cols-2 lg:grid-cols-2 2xl:grid-cols-3">
            {% for event in events %}
            <li>
               {% include 'components/event_card.html' with event=event %}
            </li>
            {% endfor %}
         </ul>
         <div class="flex items-center">
            <button class="w-full p-4 border text-base rounded-l-xl text-gray-600 bg-white hover:bg-[#f5fccb]">
               <svg width="9" fill="currentColor" height="8" class="" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1427 301l-531 531 531 531q19 19 19 45t-19 45l-166 166q-19 19-45 19t-45-19l-742-742q-19-19-19-45t19-45l742-742q19-19 45-19t45 19l166 166q19 19 19 45t-19 45z">
                  </path>
               </svg>
            </button>
            <button class="w-full px-4 py-2 border-t border-b text-base text-[#a1c617] bg-white hover:bg-[#f5fccb]">
            1
            </button>
            <button class="w-full px-4 py-2 border text-base text-gray-600 bg-white hover:bg-[#f5fccb]">
            2
            </button>
            <button class="w-full px-4 py-2 border-t border-b text-base text-gray-600 bg-white hover:bg-[#f5fccb]">
            3
            </button>
            <button class="w-full px-4 py-2 border text-base text-gray-600 bg-white hover:bg-[#f5fccb]">
            4
            </button>
            <button class="w-full p-4 border-t border-b border-r text-base rounded-r-xl text-gray-600 bg-white hover:bg-[#f5fccb]">
               <svg width="9" fill="currentColor" height="8" class="" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1363 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45l166-166q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z">
                  </path>
               </svg>
            </button>
         </div>
      </div>
   </div>
</div>
{% endblock %}