{% load static %}

<div class="flex flex-col w-full transition-all bg-white p-5 rounded-2xl border">
    <div class="text-sm">
        <span>{{ event.date|date:"d F Y" }}</span>
    </div>
    <div class="w-full line-clamp-2 mb-2">
        <a href="{% url 'base:event_detail' event.id %}"
           class="mt-2 text-lg font-semibold text-[#222e05]">{{ event.title }}</a>
    </div>
    <div class="grid w-full grid-cols-4 gap-3">
        {% for i in events|slice:":2" %}
            <div class="w-full h-fit max-h-[240px] rounded-md border">
                <a href="{% url 'base:event_detail' event.id %}">
                    <img class="w-full rounded-md" src="https://picsum.photos/600/900" alt=""/>
                </a>
            </div>
        {% endfor %}
        {% for i in events|slice:"2:" %}
            <div class="w-full h-fit rounded-md border">
                <a href="{% url 'base:event_detail' event.id %}">
                    <img class="w-full rounded-md" src="https://picsum.photos/900/600" alt=""/>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
