{% extends 'dashboard/base_dashboard.html' %}
{% load static %}
{% block content %}
    <div class="relative flex flex-row flex-nowrap w-full h-full overflow-hidden">
        <div class="flex-1 flex flex-col h-full">
            <div class="flex flex-row flex-nowrap items-center w-full justify-between mb-2 px-6 pt-4 md:px-8 md:pt-6">
                <div class="text-base md:text-xl font-bold text-[#222e05]">Tableau de bord</div>
                <div class="md:hidden">
                    <button id="openRecentActivitiesModalBtn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="lucide lucide-clock-3">
                            <circle cx="12" cy="12" r="10"/>
                            <polyline points="12 6 12 12 16.5 12"/>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="h-full overflow-hidden">
                <div class="h-full overflow-y-auto px-6 pb-6 md:px-8 md:pb-8">
                    <div class="grid grid-cols-2 lg:grid-cols-4 gap-4 mt-4 mb-5">
                        <a href="{% url 'dashboard:events' %}">
                            <div class="flex flex-col gap-2 rounded-lg p-4 bg-[#f5fccb] hover:bg-[#eaf89e] transition-colors">
                                <div class="text-sm line-clamp-1">Voir les évènements</div>
                                <div class="w-full flex flex-row justify-start">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                         stroke-linejoin="round" class="lucide lucide-calendar-days">
                                        <path d="M8 2v4"/>
                                        <path d="M16 2v4"/>
                                        <rect width="18" height="18" x="3" y="4" rx="2"/>
                                        <path d="M3 10h18"/>
                                        <path d="M8 14h.01"/>
                                        <path d="M12 14h.01"/>
                                        <path d="M16 14h.01"/>
                                        <path d="M8 18h.01"/>
                                        <path d="M12 18h.01"/>
                                        <path d="M16 18h.01"/>
                                    </svg>
                                </div>
                            </div>
                        </a>
                        <a href="{% url 'dashboard:users' %}">
                            <div class="flex flex-col gap-2 rounded-lg p-4 bg-amber-100 hover:bg-amber-200 transition-colors">
                                <div class="text-sm line-clamp-1">Gérer les utilisateurs</div>
                                <div class="w-full flex flex-row justify-start">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                         stroke-linejoin="round" class="lucide lucide-users">
                                        <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"/>
                                        <circle cx="9" cy="7" r="4"/>
                                        <path d="M22 21v-2a4 4 0 0 0-3-3.87"/>
                                        <path d="M16 3.13a4 4 0 0 1 0 7.75"/>
                                    </svg>
                                </div>
                            </div>
                        </a>
                        <a href="{% url 'dashboard:index' %}">
                            <div class="flex flex-col gap-2 rounded-lg p-4 bg-blue-100 hover:bg-blue-200 transition-colors">
                                <div class="text-sm line-clamp-1">Consulter les rapports</div>
                                <div class="w-full flex flex-row justify-start">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                         stroke-linejoin="round" class="lucide lucide-clipboard-minus">
                                        <rect width="8" height="4" x="8" y="2" rx="1" ry="1"/>
                                        <path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"/>
                                    </svg>
                                </div>
                            </div>
                        </a>
                        <a href="{% url 'dashboard:index' %}">
                            <div class="flex flex-col gap-2 rounded-lg p-4 bg-fuchsia-100 hover:bg-fuchsia-200 transition-colors">
                                <div class="text-sm line-clamp-1">Gérer les paramètres</div>
                                <div class="w-full flex flex-row justify-start">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                         stroke-linejoin="round" class="lucide lucide-settings">
                                        <path d="M12.22 2h-.44a2 2 0 0 0-2 2v.18a2 2 0 0 1-1 1.73l-.43.25a2 2 0 0 1-2 0l-.15-.08a2 2 0 0 0-2.73.73l-.22.38a2 2 0 0 0 .73 2.73l.15.1a2 2 0 0 1 1 1.72v.51a2 2 0 0 1-1 1.74l-.15.09a2 2 0 0 0-.73 2.73l.22.38a2 2 0 0 0 2.73.73l.15-.08a2 2 0 0 1 2 0l.43.25a2 2 0 0 1 1 1.73V20a2 2 0 0 0 2 2h.44a2 2 0 0 0 2-2v-.18a2 2 0 0 1 1-1.73l.43-.25a2 2 0 0 1 2 0l.15.08a2 2 0 0 0 2.73-.73l.22-.39a2 2 0 0 0-.73-2.73l-.15-.08a2 2 0 0 1-1-1.74v-.5a2 2 0 0 1 1-1.74l.15-.09a2 2 0 0 0 .73-2.73l-.22-.38a2 2 0 0 0-2.73-.73l-.15.08a2 2 0 0 1-2 0l-.43-.25a2 2 0 0 1-1-1.73V4a2 2 0 0 0-2-2z"/>
                                        <circle cx="12" cy="12" r="3"/>
                                    </svg>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="grid grid-cols-3 gap-4 mb-5">
                        <div class="flex flex-col gap-2 rounded-lg p-4 bg-white shadow">
                            <div class="text-sm font-bold line-clamp-1">Évènements à venir</div>
                            <div class="w-full flex flex-row justify-start text-2xl text-[#222e05]">{{ upcoming_events }}</div>
                        </div>
                        <div class="flex flex-col gap-2 rounded-lg p-4 bg-white shadow">
                            <div class="text-sm font-bold line-clamp-1">En attente</div>
                            <div class="w-full flex flex-row justify-start text-2xl text-[#222e05]">{{ pending_events }}</div>
                        </div>
                        <div class="flex flex-col gap-2 rounded-lg p-4 bg-white shadow">
                            <div class="text-sm font-bold line-clamp-1">Total évènements</div>
                            <div class="w-full flex flex-row justify-start text-2xl text-[#222e05]">{{ all_events }}</div>
                        </div>
                    </div>
                    <div class="flex flex-col gap-2 w-full mt-6">
                        <div class="text-base font-bold">Statistiques</div>
                        <div class="flex flex-col gap-3">
                            {# Stats here #}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="recentActivities"
             class="recentActivitiesHidden bg-white absolute bottom-0 left-0 right-0 mt-[20px] rounded-tl-md rounded-tr-md md:rounded-none border-x md:border-r-0 md:m-0 md:relative md:flex flex-col w-full md:w-[280px] border-l h-full transition-transform">
            <div class="flex flex-row flex-nowrap justify-between items-center mb-2 pl-4 pr-4 pt-4 md:pr-6 md:pt-6">
                <div class="text-base font-medium">Dernières activités</div>
                <div id="closeRecentActivitiesModalBtn"
                     class="md:hidden cursor-pointer active:scale-75 duration-100 will-change text-color-muted">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="lucide lucide-x">
                        <path d="M18 6 6 18"/>
                        <path d="m6 6 12 12"/>
                    </svg>
                </div>
            </div>
            <div class=" h-full overflow-hidden">
                <div class="h-full flex flex-col gap-2 px-4 pb-6 overflow-y-auto">
                    {% for operation in recent_activities %}
                        {% include 'components/recent_activity.html' with operation=operation operation_type_titles=operation_type_titles now=now %}
                    {% empty %}
                        <div class="flex-1 flex flex-col gap-5 justify-center items-center h-full">
                            <svg xmlns="http://www.w3.org/2000/svg" width="68" height="68" viewBox="0 0 24 24"
                                 fill="none"
                                 stroke="#eaf89e" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                 class="lucide lucide-clock-3">
                                <circle cx="12" cy="12" r="10"/>
                                <polyline points="12 6 12 12 16.5 12"/>
                            </svg>
                            <div class="text-base">Aucune activité</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script_tags %}
    <script>
       document.addEventListener("DOMContentLoaded", function () {
          const openRecentActivitiesModalBtn = document.getElementById("openRecentActivitiesModalBtn");
          const closeRecentActivitiesModalBtn = document.getElementById("closeRecentActivitiesModalBtn");
          const recentActivities = document.getElementById("recentActivities");

          openRecentActivitiesModalBtn.addEventListener(
             "click", function () {
                recentActivities.classList.remove("recentActivitiesHidden");
                recentActivities.classList.add("recentActivitiesShown");
             }
          );

          closeRecentActivitiesModalBtn.addEventListener("click", function () {
             recentActivities.classList.remove("recentActivitiesShown");
             recentActivities.classList.add("recentActivitiesHidden");
          });
       });
    </script>
{% endblock %}
